<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      ul li { list-style-type: none;}
      body { font: 13px Helvetica, Arial; }
      nav { width: 75%;}
      section{ float: left; padding: 0 2%;}
      section#chat{ margin-bottom: 50px; width: 75%;}
      section#left{ width: 20%;}
      section#left h2 { font-size: 1em;}
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
    <nav>Connecté en tant que <i><%= pseudo %></i> - <a href="/" id="logout">Logout</a></nav>

    <section id="chat">
      <ul id="messages"></ul>
      <ul id="info"></ul>
    </section>

    <section id="left">
      <h2>utilisateurs connectés</h2>
      <ul id="users"></ul>
    </section>

    <form action="">
      <input type="search" id="m" autocomplete="off" required /><button>Send</button>
    </form>


    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://platform.vine.co/static/scripts/embed.js"></script>
    <script>
      var socket        = io();
      var pseudo        = "<%= pseudo %>";
      var currentPseudo = pseudo;

      // On informe que le serveur que l'on vient de se connecter
      socket.emit('login', pseudo);

      var typingTimer;  
      var isTyping = false;

      // En cours de rédaction
      $( "#m" ).keypress(function() {
        clearTimeout(typingTimer);
        if (!isTyping) {
        socket.emit('startTyping', pseudo);
          isTyping = true;
        }
      });
     
      // Arrete d'écrire
      $( "#m" ).keyup(function() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(function () {
          if (isTyping) {
            socket.emit('stopTyping', pseudo);
            isTyping = false;
          }
        }, 500)
      });

      // Déconnexion
      $('a#logout').click(function() {
        // On informe le serveur que l'on se déconnecte
        socket.emit('logout', pseudo);
      });

      // Envoi d'un message
      $('form').submit(function() {
        message = $('#m').val();
        socket.emit('newMessage', message, pseudo);
        $('#m').val('');
        return false;
      });

      // Lecture du message
      socket.on('newMessage', function(data) {
        var url = data.message;

        // YOUTUBE //
        var youtubeRegex = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
        var youtubeId = url.match(youtubeRegex);
        if (!!youtubeId) {
          data.message = '<iframe width="420" height="315" src="https://www.youtube.com/embed/' + youtubeId[1] + '" frameborder="0" allowfullscreen></iframe>';
        }

        // VIMEO //
        var vimeoRegex = /(?:vimeo\.com\/(\d+))/i;
        var vimeoId = url.match(vimeoRegex);
        if (!!vimeoId) {
          data.message = '<iframe src="https://player.vimeo.com/video/' + vimeoId[1] + '" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
        }

        // DAILYMOTION //
        var dailymotionRegex = /^.+dailymotion.com\/(video|hub)\/([^_]+)[^#]*(#video=([^_&]+))?/;
        var dailymotionId = url.match(dailymotionRegex);
        if (!!dailymotionId) {
          data.message = '<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/' + dailymotionId[2] + '" allowfullscreen></iframe>';
        }

        var dailymotionRegexMini = /(?:dai\.ly\/([^_]+)[^#]*)/i;
        var dailymotionIdMini = url.match(dailymotionRegexMini);
        if (!!dailymotionIdMini) {
          data.message = '<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/' + dailymotionIdMini[1] + '" allowfullscreen></iframe>';
        }

        // VINE
        var vineRegex = /(?:vine\.co\/v\/([^_]+)[^#]*)/i;
        var vineId = url.match(vineRegex);
        if (!!vineId) {
          console.log(vineId[1]);
          data.message = '<iframe src="https://vine.co/v/' + vineId[1] + '/embed/postcard" width="300" height="300" frameborder="0"></iframe>';
        }

        // IMAGES
        var imageRegex = /\.(gif|jpg|jpeg|tiff|png)$/i;
        var image = url.match(imageRegex);
        if (!!image) {
          data.message = '<a href="' + image["input"] + '" target="_blank"><img src="' + image["input"] + '" alt="" width="120px" /></a>';
        }

        insereMessage(data.pseudo, data.message, data.date);
      });


      socket.on('login', function(pseudo, users) {
        if (currentPseudo != pseudo) {
          $('#messages').append('<li>--> <em>' + pseudo + ' a rejoint le Chat !</em></li>');
        }

        $('ul#users li').hide();

        for (i = 0; i < users.length; i++) {
          $('#users').prepend('<li>' + users[i] + '</li>');
        }

      });
      
      socket.on('logout', function(pseudo, users) {
        if (currentPseudo != pseudo) {
          $('#messages').append('<li><-- <em>*' + pseudo + ' a quitté le Chat :(</em></li>');
        }

        $('ul#users li').hide();
        console.log(users);
        for (i = 0; i < users.length; i++) {
          $('#users').prepend('<li>' + users[i] + '</li>');
        }

      });


      socket.on('updateTyping', function (typingUsers) {  
        $('ul#info li').hide();
        for (i = 0; i < typingUsers.length; i++) {
          console.log(typingUsers);
          $('#info').append('<li>' + typingUsers + ' is typing...</li>');
        }
      });

      function insereMessage(pseudo, message) {
        if (currentPseudo == pseudo) {
          $('#messages').append('<li>['+ date() +'] <strong style="color: red">' + pseudo + '</strong> - ' + message + '</li>');
        } else {
         $('#messages').append('<li>['+ date() +'] <strong style="color: blue">' + pseudo + '</strong> - ' + message + '</li>');
        }
      }

      function date() {
        var date = new Date();
        var h = date.getHours();
        var m = date.getMinutes();
        if (m < 10) {m = "0" + m}
        var s = date.getSeconds();
        if (s < 10) {s = "0" + s}

        time = h + ':'+ m + ':' + s;

        return time;
      }


    </script>

  </body>
</html>