<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <section id="left">

      <nav>
        <img src="http://api.adorable.io/avatar/32/<%= login %>" alt="" />
        <i><b><%= login %></b></i>
        <br /><a href="/" id="logout">Logout</a>
      </nav>

      <ul id="users"></ul>

    </section>


    <section id="chat">
      <ul id="messages">
      </ul>
    </section>

    <form action="">
      <ul id="info"></ul>
      <input type="search" id="m" autocomplete="off" placeholder="Entrez votre message" required />
    </form>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://platform.vine.co/static/scripts/embed.js"></script>
    <script src="js/helper.js"></script>
    <script>
      var socket       = io();
      var login        = "<%= login %>";
      var currentLogin = login;
      var isTyping     = false;
      var typingTimer;

      socket.emit('login', login);

      // En cours de rédaction
      $('#m').keypress(function() {
        clearTimeout(typingTimer);
        if (!isTyping) {
        socket.emit('startTyping', login);
          isTyping = true;
        }
      });

      // Arrete d'écrire
      $('#m').keyup(function() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(function() {
          if (isTyping) {
            socket.emit('stopTyping', login);
            isTyping = false;
          }
        }, 500)
      });

      // Déconnexion
      $('a#logout').click(function() {
        socket.emit('disconnect');
      });

      // Envoi d'un message
      $('form').submit(function() {
        message = $('#m').val();
        socket.emit('newMessage', message, login);
        $('#m').val('');
        return false;
      });


      // Lecture du message
      socket.on('newMessage', function(data) {
        var url = data.message;

        data.message = modifierMessage(url);

        // YOUTUBE //
        var youtubeRegex = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
        var youtubeId = url.match(youtubeRegex);
        if (!!youtubeId) {
          data.message = '<iframe width="420" height="315" src="https://www.youtube.com/embed/' + youtubeId[1] + '" frameborder="0" allowfullscreen></iframe>';
        }

        // VIMEO //
        var vimeoRegex = /(?:vimeo\.com\/(\d+))/i;
        var vimeoId = url.match(vimeoRegex);
        if (!!vimeoId) {
          data.message = '<iframe src="https://player.vimeo.com/video/' + vimeoId[1] + '" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
        }

        // DAILYMOTION //
        var dailymotionRegex = /^.+dailymotion.com\/(video|hub)\/([^_]+)[^#]*(#video=([^_&]+))?/;
        var dailymotionId = url.match(dailymotionRegex);
        if (!!dailymotionId) {
          data.message = '<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/' + dailymotionId[2] + '" allowfullscreen></iframe>';
        }

        var dailymotionRegexMini = /(?:dai\.ly\/([^_]+)[^#]*)/i;
        var dailymotionIdMini = url.match(dailymotionRegexMini);
        if (!!dailymotionIdMini) {
          data.message = '<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/' + dailymotionIdMini[1] + '" allowfullscreen></iframe>';
        }

        // VINE
        var vineRegex = /(?:vine\.co\/v\/([^_]+)[^#]*)/i;
        var vineId = url.match(vineRegex);
        if (!!vineId) {
          data.message = '<iframe src="https://vine.co/v/' + vineId[1] + '/embed/postcard" width="300" height="300" frameborder="0"></iframe>';
        }

        // IMAGES
        var imageRegex = /\.(gif|jpg|jpeg|tiff|png)$/i;
        var image = url.match(imageRegex);
        if (!!image) {
          data.message = '<a href="' + image["input"] + '" target="_blank"><img src="' + image["input"] + '" alt="" width="120px" /></a>';
        }

        // LINK
/*        var linkRegex = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
        var link = url.match(linkRegex);
        if (!!link) {
          data.message = '<a href="' + link[0] + '" target="_blank">' + link[0] + '</a>';
        }*/

        insereMessage(data.login, data.message, data.date);
      });


      socket.on('login', function(login, users) {
        if (currentLogin != login) {
          $('#messages').append('<li>['+ date() +'] --> <em>' + login + ' a rejoint le Chat !</em></li>');
        }

        getNbUsers(users.length);
        getUsers(users);
      });

      socket.on('logout', function(login, users) {
        if (currentLogin != login) {
          $('#messages').append('<li>['+ date() +'] <-- <em>*' + login + ' a quitté le Chat :(</em></li>');
        }

        getNbUsers(users.length);
        getUsers(users);
      });

      socket.on('updateTyping', function (typingUsers, login) {
        if (currentLogin != login) {
          $('ul#info li').hide();
          for (i = 0; i < typingUsers.length; i++) {
            $('#info').append('<li>' + typingUsers + ' is typing...</li>');
          }
        }
      });

    </script>

  </body>
</html>