<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav>Connecté en tant que <i><b><%= pseudo %></b></i> - <a href="/" id="logout">Logout</a></nav>

    <section id="left">
      <ul id="users"></ul>
    </section>


    <section id="chat">
      <h2>Messages</h2>
      <ul id="messages"></ul>
    </section>

    <form action="">
      <ul id="info"></ul>
      <input type="search" id="m" autocomplete="off" placeholder="Entrez votre message" required />
      <button>Send</button>
    </form>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://platform.vine.co/static/scripts/embed.js"></script>
    <script>
      var socket        = io();
      var pseudo        = "<%= pseudo %>";
      var currentPseudo = pseudo;
      var typingTimer;  
      var isTyping      = false;

      // On informe que le serveur que l'on vient de se connecter
      socket.emit('login', pseudo);

      // En cours de rédaction
      $('#m').keypress(function() {
        clearTimeout(typingTimer);
        if (!isTyping) {
        socket.emit('startTyping', pseudo);
          isTyping = true;
        }
      });


      // Arrete d'écrire
      $('#m').keyup(function() {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(function () {
          if (isTyping) {
            socket.emit('stopTyping', pseudo);
            isTyping = false;
          }
        }, 500)
      });


      // Déconnexion
      $('a#logout').click(function() {
        // On informe le serveur que l'on se déconnecte
        socket.emit('disconnect');
      });


      // Envoi d'un message
      $('form').submit(function() {
        message = $('#m').val();
        socket.emit('newMessage', message, pseudo);
        $('#m').val('');
        return false;
      });


      // Lecture du message
      socket.on('newMessage', function(data) {
        var url = data.message;

        function modifierMessage(txt)
        {

          txt = txt.replace(new RegExp(":\\)", "gi"), '<img src="https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/smile_20.png" alt=":)" />');
          txt = txt.replace(new RegExp(":=\\)", "gi"), '<img src="https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/smile_20.png" alt=":=)" />');
          txt = txt.replace(new RegExp(":-\\)", "gi"), '<img src="https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/smile_20.png" alt=":-)" />');

          txt = txt.replace(new RegExp(":\\(", "gi"), '<img src="https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/sadsmile_20.png" alt=":(" />');
          txt = txt.replace(new RegExp(":=\\(", "gi"), '<img src="https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/sadsmile_20.png" alt=":=(" />');
          txt = txt.replace(new RegExp(":-\\(", "gi"), '<img src="https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/sadsmile_20.png" alt=":-(" />');

          txt = txt.replace(new RegExp("/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/", "gi"), 'link');

          return txt;
        }

        console.log(modifierMessage(url));
        data.message = modifierMessage(url);

        // YOUTUBE //
        var youtubeRegex = /(?:youtube\.com\/(?:[^\/]+\/.+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?\/ ]{11})/i;
        var youtubeId = url.match(youtubeRegex);
        if (!!youtubeId) {
          data.message = '<iframe width="420" height="315" src="https://www.youtube.com/embed/' + youtubeId[1] + '" frameborder="0" allowfullscreen></iframe>';
        }

        // VIMEO //
        var vimeoRegex = /(?:vimeo\.com\/(\d+))/i;
        var vimeoId = url.match(vimeoRegex);
        if (!!vimeoId) {
          data.message = '<iframe src="https://player.vimeo.com/video/' + vimeoId[1] + '" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>';
        }

        // DAILYMOTION //
        var dailymotionRegex = /^.+dailymotion.com\/(video|hub)\/([^_]+)[^#]*(#video=([^_&]+))?/;
        var dailymotionId = url.match(dailymotionRegex);
        if (!!dailymotionId) {
          data.message = '<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/' + dailymotionId[2] + '" allowfullscreen></iframe>';
        }

        var dailymotionRegexMini = /(?:dai\.ly\/([^_]+)[^#]*)/i;
        var dailymotionIdMini = url.match(dailymotionRegexMini);
        if (!!dailymotionIdMini) {
          data.message = '<iframe frameborder="0" width="480" height="270" src="//www.dailymotion.com/embed/video/' + dailymotionIdMini[1] + '" allowfullscreen></iframe>';
        }

        // VINE
        var vineRegex = /(?:vine\.co\/v\/([^_]+)[^#]*)/i;
        var vineId = url.match(vineRegex);
        if (!!vineId) {
          data.message = '<iframe src="https://vine.co/v/' + vineId[1] + '/embed/postcard" width="300" height="300" frameborder="0"></iframe>';
        }

        // IMAGES
        var imageRegex = /\.(gif|jpg|jpeg|tiff|png)$/i;
        var image = url.match(imageRegex);
        if (!!image) {
          data.message = '<a href="' + image["input"] + '" target="_blank"><img src="' + image["input"] + '" alt="" width="120px" /></a>';
        }
        //https://az545221.vo.msecnd.net/skype-faq-media/faq_content/skype/screenshots/fa12330/emoticons/smile_20.png

        // LINK
/*        var linkRegex = /^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/;
        var link = url.match(linkRegex);
        if (!!link) {
          data.message = '<a href="' + link[0] + '" target="_blank">' + link[0] + '</a>';
        }*/

        insereMessage(data.pseudo, data.message, data.date);
      });


      socket.on('login', function(pseudo, users) {
        if (currentPseudo != pseudo) {
          $('#messages').append('<li>['+ date() +'] --> <em>' + pseudo + ' a rejoint le Chat !</em></li>');
        }

        $('ul#users li').hide();

        $('#left h2').hide();
        if (users.length == 1) {
          $('#left').prepend('<h2>' +  users.length + ' utilisateur connecté</h2>');
        } else {
          $('#left').prepend('<h2>' +  users.length + ' utilisateurs connectés</h2>');
        }

        for (i = 0; i < users.length; i++) {
          $('#users').prepend('<li>' + users[i] + '</li>');
        }

      });


      socket.on('logout', function(pseudo, users) {
        if (currentPseudo != pseudo) {
          $('#messages').append('<li>['+ date() +'] <-- <em>*' + pseudo + ' a quitté le Chat :(</em></li>');
        }

        $('#left h2').hide();
        if (users.length == 1) {
          $('#left').prepend('<h2>' +  users.length + ' utilisateur connecté</h2>');
        } else {
          $('#left').prepend('<h2>' +  users.length + ' utilisateurs connectés</h2>');
        }

        $('ul#users li').hide();
        for (i = 0; i < users.length; i++) {
          $('#users').prepend('<li>' + users[i] + '</li>');
        }

      });


      socket.on('updateTyping', function (typingUsers, pseudo) {
        if (currentPseudo != pseudo) {
          $('ul#info li').hide();
          for (i = 0; i < typingUsers.length; i++) {
            $('#info').append('<li>' + typingUsers + ' is typing...</li>');
          }
        }
      });


      function insereMessage(pseudo, message) {
        if (currentPseudo == pseudo) {
          $('#messages').append('<li>['+ date() +'] <strong style="color: red">' + pseudo + '</strong> - ' + message + '</li>');
        } else {
          $('#messages').append('<li>['+ date() +'] <strong style="color: blue">' + pseudo + '</strong> - ' + message + '</li>');
        }
      }


      function date() {
        var date = new Date();
        var h = date.getHours();
        if (h < 10) {h = "0" + h}
        var m = date.getMinutes();
        if (m < 10) {m = "0" + m}
        var s = date.getSeconds();
        if (s < 10) {s = "0" + s}

        time = h + ':'+ m + ':' + s;

        return time;
      }


    </script>

  </body>
</html>