<!DOCTYPE html>
<html>
<head>
	<title>Hello</title>
</head>
<body>

	<form action="chat" method="post">
		<input type="text" name="pseudo" placeholder="Votre pseudo" />
		<input type="submit" />
	</form>

</body>
</html>